* {
	margin: 0;
	padding: 0;
}

.headerUl {
	list-style-type: none;
	z-index: 42; /*should always be the biggest value, in order to overlap all other elements*/
	padding-left: 1.5%;
	width: 8em;
	position: fixed;
   box-shadow: 0px 5px 4px rgba(0, 0, 0, .35);
   background-color: black; /*rgb(188, 135, 66);/*my creation of dark burlywood*/
}

.headerUl li {
	display: inline;
	cursor: pointer;
	color: whitesmoke;
}

#description {
	float: right;
   padding: 10px 15px 10px 15px;
   margin-right: 2%;
   visibility: hidden;
   display: none;
}

.headerUl li a {
    display: block;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    color: whitesmoke;
}

.headerDiv img {
	z-index: 1;
	width: 100%;
	height: auto;
	margin-top: 0px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: rgb(122, 16, 18);
}

.headerDiv a:hover {
	text-decoration: none;
	border-bottom-style: solid;
	border-bottom-color: darkgrey;
	background-color: darkgrey;
   box-shadow: 5px 2px 4px rgba(0, 0, 0, .5);
}

.headerDiv a.aktiv {
	background-color: rgb(122, 16, 18);
	color: whitesmoke;
	border-bottom-style: solid;
	border-color: rgb(122, 16, 18);
}

.headerDiv a.aktiv:hover {
	background-color: rgb(122, 16, 18);
	color: wheat;
}

.headerDiv a:hover:not(.aktiv) {
    background-color: darkgrey;
    color: whitesmoke;
}

#menuButtonDiv {
	z-index: 41;
	padding-left: 0.5em;
	width: 100%;
	height: 40px;
	box-shadow: 0px 5px 4px rgba(0, 0, 0, .35);
   background-color: black; /*rgb(188, 135, 66);/*my creation of dark burlywood*/
}

#menuButton {
	z-index: 43;
	float: left;
	height: 40px;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

#menuButton h3 {
	color: whitesmoke;
}

#menuButton h3:hover {
	background-color: rgb(122, 16, 18);
	color: wheat;
}

@media screen and (min-width: 800px) {
	.headerDiv img {
		z-index: 1;
		width: 100%;
		height: auto;
		margin-top: 40px;
		border-top-style: solid;
		border-bottom-style: solid;
		border-color: rgb(122, 16, 18);
	}

	.headerUl {
		padding-left: 15%;
		width: 85%;
		height: 40px;
		overflow: hidden;
		position: fixed;
		visibility: visible;
		display: inline;
	}
	
	.headerUl li {
		display: inline-table;	
	}
	
	#menuButtonDiv, #menuButton {
		visibility: hidden;
		display: none;
	}
	
	#description {
		float: right;
   	padding: 10px 15px 10px 15px;
   	margin-right: 2%;
   	visibility: visible;
   	display: inline;
	}
}